body{
  width: 100%;
  height: 100%;
  background: rgba(75,156,211, 0.1);
}

.loginSignUpContainer {
height: 100vh;
}

.loginCard, .signUpCard {
  width: 40vw;
  box-shadow: 5px 5px rgba(0,0,0, 0.2);
  border-radius: 25px;
}

.loginCard{
  width: 40vw;
}

.signUpCard {
width: 40vw
}

.blankFooter {
  background: #fff;
}