body{
  width: 100%;
  height: 100%;
  margin: 0px;
}

.bg-light-blue {
  background: rgba(75, 156, 211, 0.2);
}

.fullWidth {
  width: 100%;
}

.blankFooter {
  background: #fff;
}

.loginSignUpContainer {
  height: 100vh;
}

.loginCard{
  width: 450px;
  border: 1px solid black;
  box-shadow: 6px 6px rgba(0,0,0, 0.2);
  border-radius: 25px;
}

#registerModal {
  border-radius: 10px;
  box-shadow: 7px 7px rgba(0,0,0,0.2);
}

#newUserDialog {
  height: 250px;
  width: 60%;
  background: rgba(211,211,211, 0.5);
  box-shadow: 5px 5px rgba(0,0,0,0.2);
  border-radius: 15px;
}